@charset "utf-8";
	.imagetopleft_1_
{
	background-image : url(imagetopleft_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 31px;
	top : 361px;
	width : 235px;
	height : 237px;
}
