@charset "utf-8";
	.imagetopright_2_
{
	background-image : url(imagetopright_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 849px;
	top : 320px;
	width : 205px;
	height : 273px;
}
